.div {
  background: linear-gradient(45deg, #000000, rgb(52, 122, 52), #52ffa0);
  box-shadow: 0 3px 10px black;
  width: 400px;
  height: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: white;
  text-align: center;
  font-family: "Zen Antique Soft", serif;
}

h1 {
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

h2 {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

h3 {
  position: fixed;
  left: 50%;
  top: 56%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
