* {
  margin: 0;
  padding: 0;
}

.div {
  background: linear-gradient(45deg, #000000, rgb(52, 122, 52), #52ffa0);
  box-shadow: 0 3px 10px black;
  width: 400px;
  height: 400px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.text {
  color: white;
  text-align: center;
  font-family: "Zen Antique Soft", serif;
}

.one {
  position: fixed;
  left: 50%;
  top: 38%;
  transform: translate(-50%, -50%);
  font-size: 60px;
}

.two {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.three {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 15px;
}
