a {
  text-decoration-line: none;
  color: black;
}

h1 {
  display: inline-block;
}

#main-button {
  position: relative;
  left: 40px;
  bottom: 4px;
}

.main-div {
  padding: 10px;
}

.main-ul {
  list-style-type: none;
}

a:hover {
  color: blue;
}
