*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10/16 = 62.5%

  @include respond(laptop-l) {
    font-size: 55%;
  }

  @include respond(laptop) {
    font-size: 50%;
  }

  @include respond(tablet) {
    font-size: 45%;
  }
}

body {
  background: $color-dark;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: $color-white;
  box-sizing: border-box;
  padding: 0 20rem 0 20rem;

  @include respond(phone-m) {
    padding: 0;
  }

  @include respond(phone-l) {
    padding: 0;
  }
}
