// WELCOME SECTION

/* DIFFERENT STYLE

.heading-primary {
  backface-visibility: hidden;
  font-family: "Bitter", serif;
  font-weight: 600;

  .heading-primary-main {
    background: linear-gradient(
      320deg,
      $color-rainbow-blue 5%,
      $color-rainbow-purple 40%,
      $color-rainbow-pink 60%,
      $color-rainbow-yellow 100%
    );
    background-clip: text;
    display: block;
    font-size: 7rem;

    animation: move-in-left 1s ease-out;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes move-in-left {
      0% {
        opacity: 0;
        transform: translateX(-10rem);
      }

      80% {
        transform: translateX(1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  .heading-primary-sub {
    background: linear-gradient(
      320deg,
      $color-rainbow-blue 5%,
      $color-rainbow-purple 40%,
      $color-rainbow-pink 60%,
      $color-rainbow-yellow 100%
    );
    background-clip: text;
    display: block;
    font-size: 6rem;

    animation: move-in-right 1s ease-out;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes move-in-right {
      0% {
        opacity: 0;
        transform: translateX(10rem);
      }

      80% {
        transform: translateX(-1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}
*/

.heading-primary {
  backface-visibility: hidden;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;

  .heading-primary-main {
    background-clip: text;
    display: block;
    font-size: 7rem;

    text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 500ms infinite;

    @include respond(tablet) {
      font-size: 5.5rem;
    }

    @include respond(laptop) {
      font-size: 5.5rem;
    }

    @include respond(laptop-l) {
      font-size: 5rem;
    }

    @include respond(phone-xxl) {
      font-size: 4rem;
    }

    @include respond(phone-xl) {
      font-size: 3rem;
    }
  }

  .heading-primary-sub {
    font-size: 6rem;

    text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75),
      -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
      0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

    animation: glitch 500ms infinite;

    @include respond(tablet) {
      font-size: 5rem;
    }

    @include respond(laptop) {
      font-size: 5rem;
    }

    @include respond(laptop-l) {
      font-size: 4.5rem;
    }

    @include respond(phone-xxl) {
      font-size: 4rem;
    }

    @include respond(phone-xl) {
      font-size: 3rem;
    }
  }

  @keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    14% {
      text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75),
        -0.05em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
    }

    15% {
      text-shadow: -0.05em -0.025em 0 rgba(225, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    49% {
      text-shadow: -0.05em -0.025em 0 rgba(225, 0, 0, 0.75),
        0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
        -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    50% {
      text-shadow: 0.025em 0.05em 0 rgba(225, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    99% {
      text-shadow: 0.025em 0.05em 0 rgba(225, 0, 0, 0.75),
        0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
    }

    100% {
      text-shadow: -0.025em 0 0 rgba(225, 0, 0, 0.75),
        -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
        -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
    }
  }
}

.info-text {
  text-align: center;
  font-size: $default-font-size;
  padding-top: 2rem;

  @include respond(phone-m) {
    font-size: 2rem;
    width: 400px;
  }

  @include respond(phone-l) {
    font-size: 2rem;
    width: 400px;
  }
}

// PROJECTS SECTION

/* DIFFERENT STYLE

.heading-secondary {
  background: linear-gradient(
    320deg,
    $color-rainbow-blue 5%,
    $color-rainbow-purple 40%,
    $color-rainbow-pink 60%,
    $color-rainbow-yellow 100%
  );
  background-clip: text;
  display: inline-block;
  font-size: 6rem;
  font-family: "Bitter", serif;
  font-weight: 600;

  padding-top: 2rem;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

.heading-secondary {
  font-size: 6rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;

  text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75),
    -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
    0.025em 0.05em 0 rgba(0, 0, 255, 0.75);

  animation: glitch 500ms infinite;

  @include respond(tablet) {
    font-size: 5rem;
  }

  @include respond(laptop) {
    font-size: 5rem;
  }

  @include respond(phone-xxl) {
    font-size: 4rem;
  }

  @include respond(phone-xl) {
    font-size: 3rem;
  }
}

// ABOUT SECTION

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
