// WELCOME SECTION

.heading-primary {
  backface-visibility: hidden;
  font-family: "Bitter", serif;
  font-weight: 600;

  .heading-primary-main {
    background: linear-gradient(
      320deg,
      $color-rainbow-blue 5%,
      $color-rainbow-purple 40%,
      $color-rainbow-pink 60%,
      $color-rainbow-yellow 100%
    );
    background-clip: text;
    display: block;
    font-size: 7rem;

    @include respond(tablet) {
      font-size: 6rem;
    }

    @include respond(laptop) {
      font-size: 6rem;
    }

    @include respond(phone-m) {
      font-size: 5.3rem;
    }

    @include respond(phone-l) {
      font-size: 5.5rem;
    }

    @include respond(phone-xl) {
      font-size: 5.5rem;
    }

    @include respond(phone-xxl) {
      font-size: 5.5rem;
    }

    animation: move-in-left 1s ease-out;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes move-in-left {
      0% {
        opacity: 0;
        transform: translateX(-10rem);
      }

      80% {
        transform: translateX(1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  .heading-primary-sub {
    background: linear-gradient(
      320deg,
      $color-rainbow-blue 5%,
      $color-rainbow-purple 40%,
      $color-rainbow-pink 60%,
      $color-rainbow-yellow 100%
    );
    background-clip: text;
    display: block;
    font-size: 6rem;

    animation: move-in-right 1s ease-out;

    @include respond(tablet) {
      font-size: 5rem;
    }

    @include respond(laptop) {
      font-size: 5rem;
    }

    @include respond(phone-m) {
      font-size: 4.5rem;
    }

    @include respond(phone-l) {
      font-size: 4.8rem;
    }

    @include respond(phone-xl) {
      font-size: 4rem;
    }

    @include respond(phone-xxl) {
      font-size: 4.5rem;
    }

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes move-in-right {
      0% {
        opacity: 0;
        transform: translateX(10rem);
      }

      80% {
        transform: translateX(-1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}

.info-text {
  text-align: center;
  font-size: $default-font-size;
  padding-top: 2rem;

  @include respond(phone-m) {
    font-size: 2rem;
    width: 400px;
  }

  @include respond(phone-l) {
    font-size: 2rem;
    width: 400px;
  }
}

// PROJECTS SECTION

.heading-secondary {
  background: linear-gradient(
    320deg,
    $color-rainbow-blue 5%,
    $color-rainbow-purple 40%,
    $color-rainbow-pink 60%,
    $color-rainbow-yellow 100%
  );
  background-clip: text;
  display: inline-block;
  font-size: 6rem;
  font-family: "Bitter", serif;
  font-weight: 600;

  @include respond(phone-xl) {
    font-size: 4rem;
  }

  @include respond(phone-xxl) {
    font-size: 4.5rem;
  }

  padding-top: 2rem;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// ABOUT SECTION

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
