// COLORS

$color-grey: #777;
$color-white: #fff;
$color-black: #000;
$color-dark: #111;

$color-red: #630000;

$color-grey-dark-1: #191919;

/* DIFFERENT STYLE

$color-rainbow-blue: #a0e9ff;
$color-rainbow-purple: #a162e8;
$color-rainbow-pink: #f093b0;
$color-rainbow-yellow: #edca85;

*/

// FONT SIZE

$default-font-size: 2rem;

// MEDIA QUERIES
