* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #fff;
  background-color: #ffcfcf;
}

h1 {
  position: fixed;
  left: 50%;
  top: 43%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
}

h2 {
  position: fixed;
  left: 50%;
  top: 53%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
}

p {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  font-size: 1.3rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0.3rem 1rem #111;
  background: linear-gradient(45deg, #ff7a7a, #ff9f9f, #ffcfcf);
  width: 700px;
  height: 700px;
  max-width: 80%;
  max-height: 80%;
}
