.figure {
  background-color: red;
  position: relative;
  margin: 100px;
  height: 300px;
  width: 300px;
}

.figure::before {
  content: "";
  position: absolute;
  background-color: red;
  transform: rotate(20deg);
  height: 300px;
  width: 300px;
}

.figure::after {
  content: "";
  position: absolute;
  background-color: red;
  transform: rotate(240deg);
  height: 300px;
  width: 300px;
}
