@import "./colors";

.button {
  background-color: $background-color;
  border: 2px solid $text-color-hover;
  color: $text-color;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 700ms;
  transition-property: color, background-color, box-shadow;
  height: 50px;
  width: 100px;
  &:hover {
    background-color: $button-hover-color;
    box-shadow: 5px 5px 10px $button-color;
    color: $primary-color;
    cursor: pointer;
  }
}
