@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
/* DIFFERENT STYLE

$color-rainbow-blue: #a0e9ff;
$color-rainbow-purple: #a162e8;
$color-rainbow-pink: #f093b0;
$color-rainbow-yellow: #edca85;

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 90em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 70em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 45%;
  }
}

body {
  background: #111;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  padding: 0 30rem 0 30rem;
}
@media (max-width: 70em) {
  body {
    padding: 0 20rem 0 20rem;
  }
}
@media (max-width: 90em) {
  body {
    padding: 0 25rem 0 25rem;
  }
}
@media (max-width: 48em) {
  body {
    padding: 0 15rem 0 15rem;
  }
}
@media (max-width: 38.75em) {
  body {
    padding: 0 12rem 0 12rem;
  }
}
@media (max-width: 20em) {
  body {
    padding: 0;
  }
}
@media (max-width: 23.4375em) {
  body {
    padding: 0;
  }
}
@media (max-width: 33.75em) {
  body {
    padding: 0;
  }
}
@media (max-width: 26.5625em) {
  body {
    padding: 0;
  }
}

/* DIFFERENT STYLE

.heading-primary {
  backface-visibility: hidden;
  font-family: "Bitter", serif;
  font-weight: 600;

  .heading-primary-main {
    background: linear-gradient(
      320deg,
      $color-rainbow-blue 5%,
      $color-rainbow-purple 40%,
      $color-rainbow-pink 60%,
      $color-rainbow-yellow 100%
    );
    background-clip: text;
    display: block;
    font-size: 7rem;

    animation: move-in-left 1s ease-out;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes move-in-left {
      0% {
        opacity: 0;
        transform: translateX(-10rem);
      }

      80% {
        transform: translateX(1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }

  .heading-primary-sub {
    background: linear-gradient(
      320deg,
      $color-rainbow-blue 5%,
      $color-rainbow-purple 40%,
      $color-rainbow-pink 60%,
      $color-rainbow-yellow 100%
    );
    background-clip: text;
    display: block;
    font-size: 6rem;

    animation: move-in-right 1s ease-out;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @keyframes move-in-right {
      0% {
        opacity: 0;
        transform: translateX(10rem);
      }

      80% {
        transform: translateX(-1rem);
      }

      100% {
        opacity: 1;
        transform: translate(0);
      }
    }
  }
}
*/
.heading-primary {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
}
.heading-primary .heading-primary-main {
  -webkit-background-clip: text;
          background-clip: text;
  display: block;
  font-size: 7rem;
  text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
}
@media (max-width: 48em) {
  .heading-primary .heading-primary-main {
    font-size: 5.5rem;
  }
}
@media (max-width: 70em) {
  .heading-primary .heading-primary-main {
    font-size: 5.5rem;
  }
}
@media (max-width: 90em) {
  .heading-primary .heading-primary-main {
    font-size: 5rem;
  }
}
@media (max-width: 38.75em) {
  .heading-primary .heading-primary-main {
    font-size: 4rem;
  }
}
@media (max-width: 33.75em) {
  .heading-primary .heading-primary-main {
    font-size: 3rem;
  }
}
.heading-primary .heading-primary-sub {
  font-size: 6rem;
  text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
}
@media (max-width: 48em) {
  .heading-primary .heading-primary-sub {
    font-size: 5rem;
  }
}
@media (max-width: 70em) {
  .heading-primary .heading-primary-sub {
    font-size: 5rem;
  }
}
@media (max-width: 90em) {
  .heading-primary .heading-primary-sub {
    font-size: 4.5rem;
  }
}
@media (max-width: 38.75em) {
  .heading-primary .heading-primary-sub {
    font-size: 4rem;
  }
}
@media (max-width: 33.75em) {
  .heading-primary .heading-primary-sub {
    font-size: 3rem;
  }
}
@-webkit-keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(225, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(225, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(225, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(225, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(225, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}
@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75), -0.05em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  15% {
    text-shadow: -0.05em -0.025em 0 rgba(225, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 rgba(225, 0, 0, 0.75), 0.025em 0.025em 0 rgba(0, 255, 0, 0.75), -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  50% {
    text-shadow: 0.025em 0.05em 0 rgba(225, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  99% {
    text-shadow: 0.025em 0.05em 0 rgba(225, 0, 0, 0.75), 0.05em 0 0 rgba(0, 255, 0, 0.75), 0 -0.05em 0 rgba(0, 0, 255, 0.75);
  }
  100% {
    text-shadow: -0.025em 0 0 rgba(225, 0, 0, 0.75), -0.025em -0.025em 0 rgba(0, 255, 0, 0.75), -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
  }
}

.info-text {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}
@media (max-width: 23.4375em) {
  .info-text {
    font-size: 2rem;
    width: 400px;
  }
}
@media (max-width: 26.5625em) {
  .info-text {
    font-size: 2rem;
    width: 400px;
  }
}

/* DIFFERENT STYLE

.heading-secondary {
  background: linear-gradient(
    320deg,
    $color-rainbow-blue 5%,
    $color-rainbow-purple 40%,
    $color-rainbow-pink 60%,
    $color-rainbow-yellow 100%
  );
  background-clip: text;
  display: inline-block;
  font-size: 6rem;
  font-family: "Bitter", serif;
  font-weight: 600;

  padding-top: 2rem;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/
.heading-secondary {
  font-size: 6rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  text-shadow: 0.05em 0 0 rgba(225, 0, 0, 0.75), -0.025em -0.05em 0 rgba(0, 255, 0, 0.75), 0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  -webkit-animation: glitch 500ms infinite;
          animation: glitch 500ms infinite;
}
@media (max-width: 48em) {
  .heading-secondary {
    font-size: 5rem;
  }
}
@media (max-width: 70em) {
  .heading-secondary {
    font-size: 5rem;
  }
}
@media (max-width: 38.75em) {
  .heading-secondary {
    font-size: 4rem;
  }
}
@media (max-width: 33.75em) {
  .heading-secondary {
    font-size: 3rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 2rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.center-text {
  text-align: center;
}

.margin-bottom-xl-big {
  margin-bottom: 16rem;
}
@media (max-width: 90em) {
  .margin-bottom-xl-big {
    margin-bottom: 10rem;
  }
}
@media (max-width: 23.4375em) {
  .margin-bottom-xl-big {
    margin-bottom: 6rem;
  }
}
@media (max-width: 26.5625em) {
  .margin-bottom-xl-big {
    margin-bottom: 6rem;
  }
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.view-more-btn:link, .view-more-btn:visited {
  color: #fff;
  border-bottom: 2px solid #630000;
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  padding: 3px;
  transition: all 1s;
}
@media (max-width: 90em) {
  .view-more-btn:link, .view-more-btn:visited {
    font-size: 2.5rem;
  }
}
@media (max-width: 23.4375em) {
  .view-more-btn:link, .view-more-btn:visited {
    font-size: 2.5rem;
  }
}
@media (max-width: 26.5625em) {
  .view-more-btn:link, .view-more-btn:visited {
    font-size: 2.5rem;
  }
}
.view-more-btn:hover {
  color: #fff;
  transform: translateY(-5px);
  text-shadow: 0 0 15px #fff;
}
.view-more-btn:active {
  transform: translateY(0px);
}

.view-more {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}
@media (max-width: 90em) {
  .view-more {
    padding-top: 10rem;
  }
}
@media (max-width: 23.4375em) {
  .view-more {
    padding-top: 6rem;
  }
}
@media (max-width: 26.5625em) {
  .view-more {
    padding-top: 6rem;
  }
}
@media (max-width: 33.75em) {
  .view-more {
    padding-top: 6rem;
  }
}

.feature-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform 1s;
  border-radius: 10px;
}
.feature-box .feature-img {
  display: inline-block;
  width: 70%;
  border-radius: 10px;
  position: relative;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  cursor: pointer;
}

.navigation {
  background: #111;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1;
}
.navigation .navigation-nav {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.navigation .navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 69%;
}
.navigation .navigation-list-item {
  padding: 2rem 2rem;
}
.navigation .navigation-link {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  transition: text-shadow 1s;
}
.navigation .navigation-link:hover {
  border-bottom: 2px solid #630000;
}

.welcome-section {
  height: 100vh;
  background: #111;
}
.welcome-section .top-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome-section .text-box {
  text-align: center;
}

.projects-section {
  border-radius: 30px;
  background: #191919;
  padding: 20rem 0;
}
.projects-section .row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 90em) {
  .projects-section {
    padding: 15rem 0;
  }
}
@media (max-width: 23.4375em) {
  .projects-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 26.5625em) {
  .projects-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 33.75em) {
  .projects-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}

.about-section {
  padding: 20rem 0;
}
.about-section .row-2 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}
.about-section .row-2 .column-2 {
  width: 50%;
}
@media (max-width: 90em) {
  .about-section .row-2 .column-2 {
    width: 60%;
    left: 10px;
  }
}
.about-section .row-2 .column-2-img {
  width: 40%;
}
.about-section .row-2 .about-photo {
  position: relative;
  left: 4rem;
  border-radius: 2rem;
  width: 60%;
}
@media (max-width: 20em) {
  .about-section .row-2 .about-photo {
    margin-top: 5rem;
    left: 5px;
  }
}
@media (max-width: 23.4375em) {
  .about-section .row-2 .about-photo {
    margin-top: 5rem;
    left: 5px;
  }
}
@media (max-width: 26.5625em) {
  .about-section .row-2 .about-photo {
    margin-top: 5rem;
    left: 5px;
  }
}
@media (max-width: 48em) {
  .about-section .row-2 .about-photo {
    margin-top: 10rem;
  }
}
@media (max-width: 90em) {
  .about-section .row-2 .about-photo {
    width: 60%;
    left: 10px;
  }
}
@media (max-width: 20em) {
  .about-section .row-2 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 23.4375em) {
  .about-section .row-2 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 26.5625em) {
  .about-section .row-2 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 48em) {
  .about-section .row-2 {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 23.4375em) {
  .about-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 26.5625em) {
  .about-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 70em) {
  .about-section {
    padding: 10rem 0;
  }
}

.skills-section {
  border-radius: 30px;
  background: #191919;
  padding: 20rem 0;
}
.skills-section .row-3 {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 23.4375em) {
  .skills-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 26.5625em) {
  .skills-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 70em) {
  .skills-section {
    padding: 10rem 0;
  }
}
@media (max-width: 33.75em) {
  .skills-section {
    border-radius: 0;
  }
}/*# sourceMappingURL=main.css.map */