/*

0-600px:    Phone
600-900px:  Tablet portrait
900-1200px: Tables landscape

[1200 - 1800] is where our normal styles apply

1800px + :  Big desktop

$breakpoint argument choices:
- phone-s
- phone-m
- phone-l
- phone-xl
- tablet
- laptop
- laptop-l
- desktop

*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 90em) {
  html {
    font-size: 55%;
  }
}
@media (max-width: 64em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 45%;
  }
}

body {
  background: #111;
  font-family: "Karla", sans-serif;
  font-weight: 400;
  color: #fff;
  box-sizing: border-box;
  padding: 0 20rem 0 20rem;
}
@media (max-width: 23.4375em) {
  body {
    padding: 0;
  }
}
@media (max-width: 26.5625em) {
  body {
    padding: 0;
  }
}

.heading-primary {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-family: "Bitter", serif;
  font-weight: 600;
}
.heading-primary .heading-primary-main {
  background: linear-gradient(320deg, #a0e9ff 5%, #a162e8 40%, #f093b0 60%, #edca85 100%);
  background-clip: text;
  display: block;
  font-size: 7rem;
  -webkit-animation: move-in-left 1s ease-out;
          animation: move-in-left 1s ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 48em) {
  .heading-primary .heading-primary-main {
    font-size: 6rem;
  }
}
@media (max-width: 64em) {
  .heading-primary .heading-primary-main {
    font-size: 6rem;
  }
}
@media (max-width: 23.4375em) {
  .heading-primary .heading-primary-main {
    font-size: 5.3rem;
  }
}
@media (max-width: 26.5625em) {
  .heading-primary .heading-primary-main {
    font-size: 5.5rem;
  }
}
@media (max-width: 33.75em) {
  .heading-primary .heading-primary-main {
    font-size: 5.5rem;
  }
}
@media (max-width: 38.75em) {
  .heading-primary .heading-primary-main {
    font-size: 5.5rem;
  }
}
@-webkit-keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes move-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.heading-primary .heading-primary-sub {
  background: linear-gradient(320deg, #a0e9ff 5%, #a162e8 40%, #f093b0 60%, #edca85 100%);
  background-clip: text;
  display: block;
  font-size: 6rem;
  -webkit-animation: move-in-right 1s ease-out;
          animation: move-in-right 1s ease-out;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 48em) {
  .heading-primary .heading-primary-sub {
    font-size: 5rem;
  }
}
@media (max-width: 64em) {
  .heading-primary .heading-primary-sub {
    font-size: 5rem;
  }
}
@media (max-width: 23.4375em) {
  .heading-primary .heading-primary-sub {
    font-size: 4.5rem;
  }
}
@media (max-width: 26.5625em) {
  .heading-primary .heading-primary-sub {
    font-size: 4.8rem;
  }
}
@media (max-width: 33.75em) {
  .heading-primary .heading-primary-sub {
    font-size: 4rem;
  }
}
@media (max-width: 38.75em) {
  .heading-primary .heading-primary-sub {
    font-size: 4.5rem;
  }
}
@-webkit-keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes move-in-right {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.info-text {
  text-align: center;
  font-size: 2rem;
  padding-top: 2rem;
}
@media (max-width: 23.4375em) {
  .info-text {
    font-size: 2rem;
    width: 400px;
  }
}
@media (max-width: 26.5625em) {
  .info-text {
    font-size: 2rem;
    width: 400px;
  }
}

.heading-secondary {
  background: linear-gradient(320deg, #a0e9ff 5%, #a162e8 40%, #f093b0 60%, #edca85 100%);
  background-clip: text;
  display: inline-block;
  font-size: 6rem;
  font-family: "Bitter", serif;
  font-weight: 600;
  padding-top: 2rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 33.75em) {
  .heading-secondary {
    font-size: 4rem;
  }
}
@media (max-width: 38.75em) {
  .heading-secondary {
    font-size: 4.5rem;
  }
}

.heading-tertiary {
  font-size: 2rem;
  font-weight: 700;
}

.paragraph {
  font-size: 2rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.center-text {
  text-align: center;
}

.margin-bottom-xl-big {
  margin-bottom: 16rem;
}
@media (max-width: 23.4375em) {
  .margin-bottom-xl-big {
    margin-bottom: 6rem;
  }
}
@media (max-width: 26.5625em) {
  .margin-bottom-xl-big {
    margin-bottom: 6rem;
  }
}

.margin-bottom-big {
  margin-bottom: 8rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.view-more-btn:link, .view-more-btn:visited {
  color: #fff;
  border-bottom: 2px solid #a162e8;
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  padding: 3px;
  transition: all 0.2s;
}
@media (max-width: 23.4375em) {
  .view-more-btn:link, .view-more-btn:visited {
    font-size: 2.5rem;
  }
}
@media (max-width: 26.5625em) {
  .view-more-btn:link, .view-more-btn:visited {
    font-size: 2.5rem;
  }
}
.view-more-btn:hover {
  color: #a0e9ff;
  transform: translateY(-5px);
}
.view-more-btn:active {
  transform: translateY(0px);
}

.view-more {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}
@media (max-width: 23.4375em) {
  .view-more {
    padding-top: 6rem;
  }
}
@media (max-width: 26.5625em) {
  .view-more {
    padding-top: 6rem;
  }
}

.feature-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  transition: transform 1s;
  border-radius: 10px;
}
.feature-box .feature-img {
  display: inline-block;
  width: 70%;
  border-radius: 10px;
  position: relative;
}
.feature-box:hover {
  transform: translateY(-1.5rem) scale(1.03);
  cursor: pointer;
}

.navigation {
  background: #111;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: 1;
}
.navigation .navigation-nav {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.navigation .navigation-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 81%;
}
.navigation .navigation-list-item {
  padding: 2rem 2rem;
}
.navigation .navigation-link {
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
}
.navigation .navigation-link:hover {
  border-bottom: 2px solid #a162e8;
}
@media (max-width: 20em) {
  .navigation {
    width: 105%;
  }
}
@media (max-width: 23.4375em) {
  .navigation {
    width: 105%;
  }
}

.welcome-section {
  height: 100vh;
  background: #111;
}
.welcome-section .top-section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.welcome-section .text-box {
  text-align: center;
}

.projects-section {
  border-radius: 30px;
  background: #191919;
  padding: 20rem 0;
}
.projects-section .row-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 23.4375em) {
  .projects-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 26.5625em) {
  .projects-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}

.about-section {
  padding: 20rem 0;
}
.about-section .row-2 {
  display: flex;
  justify-content: space-around;
}
.about-section .row-2 .column-2 {
  width: 60rem;
}
.about-section .row-2 .about-photo {
  position: relative;
  left: 9rem;
  border-radius: 2rem;
  width: 70%;
}
@media (max-width: 23.4375em) {
  .about-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 26.5625em) {
  .about-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}

.skills-section {
  border-radius: 30px;
  background: #191919;
  padding: 20rem 0;
}
.skills-section .row-3 {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 23.4375em) {
  .skills-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}
@media (max-width: 26.5625em) {
  .skills-section {
    border-radius: 0;
    padding: 10rem 0;
  }
}/*# sourceMappingURL=main.css.map */