// WELCOME SECTION

.welcome-section {
  height: 100vh;
  background: $color-dark;

  .top-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-box {
    text-align: center;
  }
}

// PROJECTS SECTION

.projects-section {
  border-radius: 30px;
  background: $color-grey-dark-1;
  padding: 20rem 0;

  .row-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include respond(laptop-l) {
    padding: 15rem 0;
  }

  @include respond(phone-m) {
    border-radius: 0;
    padding: 10rem 0;
  }

  @include respond(phone-l) {
    border-radius: 0;
    padding: 10rem 0;
  }

  @include respond(phone-xl) {
    border-radius: 0;
    padding: 10rem 0;
  }
}

// ABOUT SECTION

.about-section {
  padding: 20rem 0;

  .row-2 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;

    .column-2 {
      width: 50%;

      @include respond(laptop-l) {
        width: 60%;
        left: 10px;
      }
    }

    .column-2-img {
      width: 40%;
    }

    .about-photo {
      position: relative;
      left: 4rem;
      border-radius: 2rem;
      width: 60%;

      @include respond(phone-s) {
        margin-top: 5rem;
        left: 5px;
      }

      @include respond(phone-m) {
        margin-top: 5rem;
        left: 5px;
      }

      @include respond(phone-l) {
        margin-top: 5rem;
        left: 5px;
      }

      @include respond(tablet) {
        margin-top: 10rem;
      }

      @include respond(laptop-l) {
        width: 60%;
        left: 10px;
      }
    }

    @include respond(phone-s) {
      flex-direction: column;
      align-items: center;
    }

    @include respond(phone-m) {
      flex-direction: column;
      align-items: center;
    }

    @include respond(phone-l) {
      flex-direction: column;
      align-items: center;
    }

    @include respond(tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  @include respond(phone-m) {
    border-radius: 0;
    padding: 10rem 0;
  }

  @include respond(phone-l) {
    border-radius: 0;
    padding: 10rem 0;
  }

  @include respond(laptop) {
    padding: 10rem 0;
  }
}

// SKILLS SECTION

.skills-section {
  border-radius: 30px;
  background: $color-grey-dark-1;
  padding: 20rem 0;

  .row-3 {
    display: flex;
    justify-content: space-around;
  }

  @include respond(phone-m) {
    border-radius: 0;
    padding: 10rem 0;
  }

  @include respond(phone-l) {
    border-radius: 0;
    padding: 10rem 0;
  }

  @include respond(laptop) {
    padding: 10rem 0;
  }

  @include respond(phone-xl) {
    border-radius: 0;
  }
}
