.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background-color: #fff;
  padding: 6rem;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;

  animation: appear 350ms ease-in 1;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
