// MIDDLE SECTION

.view-more-btn {
  &:link,
  &:visited {
    color: $color-white;
    border-bottom: 2px solid $color-rainbow-purple;
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 3px;
    transition: all 0.2s;
  }

  &:hover {
    color: $color-rainbow-blue;
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0px);
  }
}

.view-more {
  display: flex;
  justify-content: center;
  padding-top: 15rem;
}
