// BOTTOM SECTION

.composition {
  position: relative;

  .composition-photo {
    position: absolute;
    left: 4rem;
    top: -3rem;
    width: 90%;
    border-radius: 2rem;
    transition: all 0.2s;
    animation: grow-in-size-image 2s ease-in-out infinite;

    @keyframes grow-in-size-image {
      50% {
        transform: scale(1.05);
      }
    }
  }
}
